* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root {
    font-size: 62.5%;

    --background-primary: #F4F5FB;
    --background-secondary: #FFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

body {
    font-size: 1.6rem;
    padding-inline: 3.2rem;
    background: var(--background-primary);
}

header {
    display: flex;
    justify-content: center;
    margin-block: 2.5rem 4rem;
}

.adicionar-item {
    h1 {
        font-size: 2.4rem;
        margin-bottom: 4.4rem;
    }
    
    input, button{
        padding: 1.2rem 1.8rem;
        width: 100%;
        font-size: 1.6rem;
        border-radius: 1.2rem;
        border: none;
        outline: none;
    }

    input {
        border: 2px solid var(--border-primary);
        margin-bottom:  1.6rem;
        color: var(--content-primary);
        transition: 0.3 ease;
    }

    input::placehouder {
        color: var(--content-tertiary);
    }

    input:focus {
        border-color: var(--color-brand);
    }

    button {
        background-color: var(--color-brand);
        line-height: 2rem;
        color: var(--always-white);
        font-size: 600; 
    }

    button:hover {
        background: var(--color-brand-hover);
    }
}

.itens {
    margin-top: 4rem;

    .item {
        background: var(--background-secondary);
        margin-bottom: 1.2rem;
        display: flex;
        justify-content: space-between;
        padding: 1.2rem;
        align-items: center;
        border-radius: 1.2rem;

        box-shadow: 0 2px 6px rgba(8, 11, 18, 0.2);
        line-height: 2.4rem;

        button {
            border: none;
            background: none;

            img {
                width: 1.6rem;
                opacity: 0.7rem;
            }
        }

        .checkbox-custumizada {
            border: 1px solid var(--border-primary);
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 0.6rem;
            cursor: pointer;
        }

        input {
            display: none;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1.2rem;
        }

        label {
            cursor: pointer;
        }

        div:has(input:checked) {
            .checkbox-custumizada {
                background: var(--color-brand);
                border-color: var(--color-brand);
                transition: background 0.2s ease;
            }

            label {
                text-decoration: line-through;
            }
        }
    }
}

@media(min-width: 630px) {
    main {
        max-width: 62.7rem;
        margin-inline: auto;
    }

    .adicionar-item {
        div {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 1.6rem;
        }

        input {
            margin-bottom: 0;
            grid-column: 1 / 8;
        }

        button {
            grid-column: 8 / 11;
            cursor: pointer;
        }
    }
}